.card.user-card .card-content{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: space-between;
    padding: 0.5rem;
}

.user-id {
    color: dimgrey;
    font-weight: bold;
}

.user-login {
    display: flex;
    font-size: 1.8rem;
    color: #24292e ;

}


.detail-button {
    color: white;
    border: none;
    height:2rem;
    width: 6rem;
    transition: color 0.1s ease-out;
    cursor: pointer;
    background: #2ea44f;
}

.flex-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}


/*Small Display */
@media (max-width: 720px){
    .flex-group{
        flex-direction: column;
    }
    .detail {
        margin-top: 1rem;
        width: 100%;
    }
    .detail-button{
        width:100%;
    }
}
